# Ignore everything in the dist folder except eventcard.js
dist/
!dist/eventcard.js

# Node modules
node_modules/

# Ignore other unnecessary files
*.log
*.tmp
*.cache
coverage/
*.tsbuildinfo
.hass_dev/
.vscode/
.idea/
jest.config.js

# Mac OS
.DS_Store
